body {
	background-image: url("../images/background-2.jpg");
    background-size: cover;
}

.jumbotron {
    padding: 6px 7px;
    margin: 12px 0px 12px 0px;
	opacity: 8px;
	background: none;
}

.jumbotron h1 {
	font-size: 48px;
	font-family: "Butcherman";
	color: rgb(49, 1, 61);
	-webkit-text-stroke: 1px rgb(166, 255, 0);
}

.jumbotron h2 {
	font-size: 35px;
	font-family: "Jolly Lodger";
	color: rgb(49, 1, 61);
	-webkit-text-stroke: 1px rgb(166, 255, 0);
}

.character-image {
	display: inline-block;
  	height: 145px;
	padding: 0px 20px 0px 20px;
	margin: 0px 2px 0px 2px;
	background-color: white;
	border: solid;
	border-color:  rgb(49, 1, 61);
}

.character-image p {
	text-align: center;
	margin: 0px 2px 0px 2px;
	font-size: 15px;
	font-family: "Lacquer";
	color: rgb(49, 1, 61);
}

#chosen-character {
	height: 190px;
}

#chosen-character h2 {
	font-size: 35px;
	font-family: "Jolly Lodger";
	color: rgb(166, 255, 0);
	-webkit-text-stroke: 1px rgb(49, 1, 61);
}

.chosen-character {
	border-color: rgb(0, 225, 255);
	background-color:rgb(166, 255, 0);
}

#enemies-available h2 {
	font-size: 35px;
	font-family: "Jolly Lodger";
	color: rgb(166, 255, 0);
	-webkit-text-stroke: 1px rgb(49, 1, 61);
}

.enemy-character {
	border-color: rgb(49, 1, 61);
	background-color: rgb(0, 225, 255);
	margin: 0px 2px 0px 2px;
}

#fight-section h2 {
	font-size: 35px;
	font-family: "Jolly Lodger";
	color: rgb(166, 255, 0);
	-webkit-text-stroke: 1px rgb(49, 1, 61);
}

#defender-section {
	height: 210px;
}

#defender-section h2 {
	font-size: 35px;
	font-family: "Jolly Lodger";
	color: rgb(166, 255, 0);
	-webkit-text-stroke: 1px rgb(49, 1, 61);
}

.defender-character {
	border-color: rgb(0, 225, 255);
	background-color:rgb(166, 255, 0);
}

#game-message {
	font-size: 18px;
	font-family: "Lacquer";
	font-weight: bold;
	color: 	rgb(255, 0, 0);
	
}